@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Outfit:wght@200;400;700&display=swap");

body {
  margin: 0;
  font-family: "outfit", sans-serif;
  background-color: #ffffcc;
  background-image: url(../assests/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5vh 7rem 0 7rem;
}
#header {
  display: flex;
  justify-content: space-between;
}
#logo-img {
  height: 6vh;
  width: auto;
  object-fit: cover;
}
