@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Outfit:wght@200;400;700&display=swap");

body div {
  margin-left: 0%;
}

span {
  filter: brightness(90%);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#results {
  font-size: 4rem;
  margin-bottom: -0.5%;
}

#summary {
  font-size: 1.6rem;
}

#flexcontent {
  display: inline-flex;
  margin-top: 10%;
}

h1 {
  font-size: 4rem;
  margin-bottom: -5%;
}

.correctstyle,
.wrongstyle {
  font-weight: 400;
  margin-bottom: -15%;
}

.btn {
  margin-top: 7%;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 3px solid white;
  cursor: pointer;
  height: 6vh;
  width: 20%;
  box-sizing: border-box;
  box-shadow: 0 0 4px #ffffff;
  font-family: "outfit", sans-serif;
  font-size: 1.8rem;
  text-shadow: 0 0 4px #ffffff;
}
